---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "basscss";
@import "syntax";
@import "responsive-nav";

// Modifications for aside (about page). 
aside#profile-links {
    font-family: "Open Sans", sans-serif;  
    font-size: 0.8em;
  	padding-left: 1em;    
}
aside#profile-links a, a:hover {
	text-decoration: none;   
}
aside#profile-links img {
	vertical-align: middle;
 	margin-bottom: 0.35em; 
}